@model ZeroHunger42915.Models.Employee

@{
    ViewBag.Title = "Employee Login";
}



<h2 align="center">Employee Login</h2>
<br />

@using (Html.BeginForm("Index", "Employee", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <div align="center">
        <label for="employeeId">Employee ID:</label>
        @Html.TextBoxFor(model => model.EmployeeID, new { type = "number", required = "required" })

    </div>

    <br />

    <div align="center">
        <label for="employeeName">Employee Name:</label>
        @Html.TextBoxFor(model => model.FullName, new { required = "required" })
        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
    </div>

    <br />
    <div align="center">
        @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })
    </div>

    <div align="center">
        <input align="center" type="submit" value="Login" />

    </div>

}