@model List<ZeroHunger42915.Models.FoodCollectionRequest>

@if (Model != null && Model.Any())
{
    <table align="center" style="width: 100%;">
        <tr>
            <th>Request ID</th>
            <th>Restaurant Name</th>
            <th>Max Preservation Time</th>
            <th>Assigned</th>
            <th>Completed</th>
            <th>Delete</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RequestID</td>
                <td>@item.RestaurantName</td>
                <td>@item.MaxPreservationTime</td>
                <td><span>@(item.IsAssigned.Value ? "Yes" : "No")</span> </td>
                <td><span>@(item.IsCompleted.Value ? "Yes" : "No")</span> </td>
                <td>
                    <form method="post" action="@Url.Action("Delete", "Restaurant")">
                        <input type="hidden" name="requestId" value="@item.RequestID" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>No results found.</p>
}
